<nav class="main-menu">
  <header><h1><%= lang :sns %></h1></header>
  <div>
    <%= link_to :profile, sns_user_profile_path %>
    <%= link_to :files, sns_user_files_path %>
    <%= link_to :account, sns_user_account_path if @cur_user.id == @sns_user.id %>
  </div>
</nav>
