<%= render partial: "cms/main/modules" %>

<nav class="sub-menu">
  <header><h1>Node</h1></header>
  <div>
    <%= link_to :nodes, node_nodes_path %>
    <%= link_to :design, node_layouts_path %>
  </div>
</nav>
