<nav class="main-menu">
  <h1>Modules</h1>
  <%= link_to :node, node_main_path %>
  <%= link_to :article, article_main_path %>
  <%= link_to :category, category_main_path %>
  <%= link_to :uploader, uploader_main_path %>
</nav>
