<div class="node-nodes nodes">
  <% @items.each do |item| %>
  <article class="item-<%= item.basename.dasherize %>">
    <header>
      <h2><%= link_to item.name, item.url %></h2>
    </header>
  </article>
  <% end %>
</div>
