<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= lang "modules.contents.article" %></h1></header>
  <div>
    <%= link_to :article_pages, article_pages_path %>
  </div>
</nav>

<% end %>
