<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.contents.article" %></h1></header>
  <div>
    <%= link_to :article_pages, article_pages_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
