<table class="index">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>検索条件</td>
      <td>未設定</td>
    </tr>
    <tr>
      <td>並び順</td>
      <td>未設定</td>
    </tr>
    <tr>
      <td>表示件数</td>
      <td>未設定</td>
    </tr>
  </tbody>
  
</table>
