@import "init";

$page-max-width: 1080px;
$font-base: Tahoma, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Verdana, "MS PGothic", "ＭＳ　Ｐゴシック", sans-serif;
$font-head: "Arial Black", Futura, Meiryo, "メイリオ", Verdana, "MS PGothic", "ＭＳ　Ｐゴシック", sans-serif;

// -----------------------------------------------------------------------------
// element

html {
  height: 100%;
  font-size: 81.2%;
  font-family: Meiryo, sans-serif;
  line-height: 1.4;
}
body {
  margin: 0px;
  background-color: #fff;
  color: #333;
  font-family: $font-base;
}
h1, h2, h3, h4, h5 {
  margin: 0px;
  font-size: 100%;
}
rp, rt {
  background-color: #fff;
  color: #080;
  font-size: 80%;
  font-weight: normal;
}
a:hover {
  color: #e00;
}

// -----------------------------------------------------------------------------
// layout

html, body {
  height: 100%;
}
#head {
  max-width: $page-max-width;
  margin: 0px auto;
  padding: 10px 15px;
  background-color: #fff;
  .wrap {
  }
  h1 {
    padding: 10px 10px 5px;
    a {
      color: #444;
      font-size: 200%;
      font-family: $font-head;
      text-decoration: none;
    }
  }
  nav {
    float: right;
    margin-top: -38px;
  }
}
#navi {
  @include clear;
  margin: 0px 0px 20px;
  background-color: #259;
  .wrap {
    @include clear;
    max-width: $page-max-width;
    margin: 0px auto;
    padding: 0px 15px;
  }
  a {
    float: left;
    display: block;
    min-width: 120px;
    padding: 0px 10px;
    border-right: 1px solid #eee;
    color: #fff;
    font-size: 120%;
    line-height: 2.5;
    text-align: center;
    text-decoration: none;
    &:first-child {
      border-left: 1px solid #eee;
    }
    &:hover {
      background-color: #27b;
    }
  }
}
#wrap {
  @include clear;
  overflow: hidden;
  max-width: $page-max-width;
  height: auto;
  margin: 0px auto;
  padding: 0px 15px;
  
  #main {
    float: left;
    width: 100%;
    .wrap {
      margin: 0px 375px 0px 0px;
      margin-bottom: -32768px;
      padding-bottom: 32778px;
    }
  }
}
#navi + #main {
  max-width: $page-max-width;
  height: auto;
  margin: 0px auto 40px;
  padding: 0px 15px;
}
#side {
  float: right;
  width: 359px;
  margin: 0px 0px 0px -360px;
  margin-bottom: -32768px;
  padding-bottom: 32778px;
  border-left: 1px solid #bbb;
  nav {
    margin: 0px 0px 20px 10px;
    header h1 {
      padding: 5px 10px;
      background-color: #259;
      color: #fff;
      font-weight: normal;
    }
    a {
      display: block;
      padding: 5px 5px;
      border-bottom: 1px solid #ddd;
    }
  }
}
#foot {
  @include clear;
  margin: 20px 0px 0px;
  border-top: 1px solid #bbb;
  .wrap {
    max-width: $page-max-width;
    margin: 0px auto;
    padding: 20px 15px;
    text-align: center;
  }
  a {
    margin: 0px 10px;
  }
}
#pc-view, #sp-view {
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  a {
    color: #888;
  }
}
#sp-view {
  font-size: 300%;
}

// -------------------------------------------------------------------------------------------------

#main {
  h1 {
    margin: 0px 0px 10px;
    padding: 5px 10px;
    background-color: #259;
    color: #fff;
  }
  h2 a {
    display: block;
    padding: 5px 5px;
    border-bottom: 1px solid #ddd;
  }
  section.box {
    div {
      height: 120px;
      margin: 0px 0px 20px;
      background-color: #e0e7ef;
    }
  }
  div.split {
    section {
      width: 345px;
      &:first-child { float: left; }
      &:last-child { float: right; }
    }
  }
  #topics {
    h1 { display: none; }
    div {
      height: 200px;
      background-color: #666;
      @include background-image(linear-gradient(left, #444, #567));
    }
  }
}

// -------------------------------------------------------------------------------------------------

@media only screen and (max-width: 800px) {
  body {
    //background-color: red;
  }
  #navi {
    a {
      min-width: initial;
      min-width: auto;
      margin: 0px 5px 0px 0px;
      padding: 0px 5px;
    }
  }
  #wrap, #menu, #side {
    clear: both;
    float: none;
    width: auto;
    margin: 0px 5px 10px;
    padding: 0px;
    nav {
      margin: 0px 0px 10px;
    }
  }
  #wrap #main { 
    clear: both;
    float: none;
    margin: 0px 0px 10px;
    padding: 0px;
    .wrap {
      margin: 0px 5px;
      padding: 10px;
      > header {
        margin: -10px -10px 10px;
      }
    }
  }
}
