<nav class="main-menu">
  <header><h1>My Sites</h1></header>
  <div>
    <% SS::Site.all.each do |item| %>
      <%= link_to item.name, "/.#{item.host}" %>
    <% end %>
  </div>
</nav>

<%= render partial: "sys/main/navi" %>
