<%

def current?(name)
  @mod.to_s == name.to_s ? "current" : ""
end

%><nav class="page-menu">
  <header><h1><%= t :modules %></h1></header>
  <div>
    <%= link_to :all, cms_contents_path, class: current?("") %>
    <% Cms::Node.modules.each do |name, key| %>
      <%= link_to name, cms_contents_path(mod: key), class: current?(key) %>
    <% end %>
  </div>
</nav>
