<nav class="main-menu">
  <h1>System Function</h1>
  <%= link_to :sites, sys_sites_path %>
  <%= link_to :users, sys_users_path %>
  <%= link_to :groups, sys_groups_path %>
  <%= link_to :http_test, sys_test_path %>
</nav>
