<nav class="main-menu">
  <header><h1>System</h1></header>
  <div>
    <%= link_to :sites, sys_sites_path %>
    <%= link_to :users, sys_users_path %>
    <%= link_to :groups, sys_groups_path %>
    <%= link_to :http_test, sys_test_path %>
  </div>
</nav>
