<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.contents.event" %></h1></header>
  <div>
    <%= link_to :event_pages, event_pages_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
