<%= render partial: "node/main/modules" %>

<nav class="sub-menu">
  <header><h1><%= lang :event, scope: [:modules, :contents] %></h1></header>
  <div>
    <%= link_to :pages, event_pages_path %>
  </div>
</nav>
