<html>
<head>
  <link href="/css/style.css" media="all" rel="stylesheet" />
</head>
<body>
<div id="page">

</ part "head" />
</ part "navi" />

<div id="wrap">
  <article id="main">
    <div class="wrap">
      </ yield />
      <section class="box" id="topics"><h1>トピックス</h1><div></div></section>
      <section class="box"><h1>ライフイベント</h1><div></div></section>
      <div class="split">
      <section class="box"><h1>市について</h1><div></div></section>
      <section class="box"><h1>オンラインサービス</h1><div></div></section>
      </div>
      <div class="split">
      <section class="box"><h1>市について</h1><div></div></section>
      <section class="box"><h1>オンラインサービス</h1><div></div></section>
      </div>
    </div>
  </article>
  <div id="side">
    </ part "side" />
    <nav><header><h1>新着記事</h1></header></ part "/docs/recent" /></nav>
  </div>
</div>

</ part "foot" />

</div>
</body>
</html>